<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Enable Google Analytics -->
    {{ if .Site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.googleAnalytics }}');
    </script>
    {{ end }}
    <!-- Enable Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&family=Frank+Ruhl+Libre:wght@200;300;400;500;600&family=Encode+Sans+Semi+Condensed:wght@400&display=swap" rel="stylesheet">
    <!-- CSS Styles (including Bootstrap 5 and FontAwesome 6) -->
    <link rel="stylesheet" type="text/css" href="/pbc-garden/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/pbc-garden/css/all.min.css">
    <link disabled id="dark-mode-theme" rel="stylesheet" href="/pbc-garden/css/dark.css">
    <link rel="stylesheet" type="text/css" href="/pbc-garden/css/style.css">
    <link rel="stylesheet" type="text/css" href="/pbc-garden/css/my_style.css">
    <!-- Site Title -->
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ end }}{{ end }}">
</head>
